{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
  <title>Log In</title>
{% endblock title %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>LogIn Form</h1>
            <span class="subheading">Existing users can log in here !</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Enter the username and password to log in.</p>
        <form action="" name="sentMessage" id="contactForm" method="post" novalidate>
          <div class="control-group">
            <div class="form-group form-group controls">
              {% csrf_token %}
              {{ form|crispy }}
            </div>
          </div>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" id="sendMessageButton">Login</button>
          </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
