{% extends 'base.html' %}

{% block title %}
  <title>Password Reset</title>
{% endblock title %}


{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Password Reset Complete</h1>
            <span class="subheading">Your new password has been set. You can log in now on the
              <a href="{% url 'login' %}">log in page</a>.</p></span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock content %}
