{% extends 'base.html' %}

{% block title %}
  <title>Password Changed</title>
{% endblock title %}


{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Password Change Successful</h1>
            <span class="subheading">Your password was successfully changed</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock content %}
