{% extends 'base.html' %}

{% block title %}
  <title>Django Blog</title>
{% endblock title %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog</h1>
            <span class="subheading">A Simple Blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
		
		{% for post in all_posts_list %}
        <div class="post-preview">
          <a href="{% url 'post_detail' post.pk %}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.body|truncatechars:100 }}
            </h3>
	    <span class="badge">Author : {{ post.author }}</span>
          </a>
        </div>
        <hr>
       {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
