{% extends 'base.html' %}

{% block title %}
  <title>Post Details</title>
{% endblock title %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ post.title }}</h1>
            <span class="meta">
              <a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a> </span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{ post.body }}</p>
        </div>
      </div>
    </div>
  </article>
  
{% endblock content %}
