{% extends 'base.html' %}

{% block title %}
  <title>Post Delete</title>
{% endblock title %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Delete Post</h1>
            <h2 class="subheading">{{ post.title|truncatechars:50 }}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <form action="" name="sentMessage" id="deleteForm" method="post">
          <div class="control-group">
            <div class="form-group form-group controls">
				{% csrf_token %}
				<h2 class="post-title">
					Do you really want to delete this post ?
				</h2>
				<hr>
				<h3 class="post-subtitle">
				  Title : {{ post.title }}
				</h3>
				<p>{{ post.body }}</p>
            </div>
            <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Confirm</button>
          </div>
          </div>
          </div>
          <br>
          
        </form>
        <hr>
      </div>
    </div>
  </div>
  
{% endblock content %}
