{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
  <title>Sign Up</title>
{% endblock title %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>SignUp Form</h1>
            <span class="subheading">New users can create account here !</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Fill out the form to register a new user!</p>
        <form action="" name="sentMessage" id="contactForm" method="post" novalidate>
          <div class="control-group">
            <div class="form-group form-group controls">
              {% csrf_token %}
              {{ form|crispy }}
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
